// General Containers

.l-constrained {
  @include outer-container;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
}

.l-constrained-medium {
  max-width: 30em;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
  margin-right: auto;
  margin-left: auto;
}

.l-main {
  @include media($breakpoint-ipad) {
    @include span-columns(8);
  }
}

.l-sidebar {
  @include media($breakpoint-ipad) {
    @include span-columns(4);
  }
}
