.l-form {
  margin-right: auto;
  margin-left: auto;

  .m-form {
    margin: 1em auto;
  }

  .m-input-group {
    margin-bottom: 0.75em
  }

  .m-form-actions {
    margin: 0.5em auto;
  }

} // .l-form
