// Basic Elements
body {
  background: $green;
  color: $light-green;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  @include transition(all 0.1s linear);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
  line-height: 1.375;
}

h1 {
  font-family: $typeface-condensed;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

hr {
  border-color: darken($light-green, 25);
}
