// Basic Elements
body {
  background: $green;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition(all 0.1s linear);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  border-bottom: 1px solid $white;
  font-family: $typeface-condensed;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

hr {}
