// Typefaces
$typeface-sans:  "proxima-nova", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-condensed:  "league-gothic", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;
