textarea,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  @include input($dark-green, lighten($green, 15), none);
}

textarea {
  height: 5em;
}

.m-form {

  .form--success {
    font-size: 1.25em;
  }

  .form--error {
    margin-bottom: 0.75em;
  }

  .form--suggestion {
    display: block;
    margin-bottom: 0.75em;
    font-style: italic;
    cursor: pointer;
    span { font-style: normal; }
    &:hover { text-decoration: underline; }
  }

} // .m-form

.m-input-group {
  @include row;
} // .m-input-group
