/*
 * Icon
 */
.m-icon {
  display: inline-block;
  color: $white;

  [data-icon] {
    font-size: 4em;
  }

  .m-icon--label {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.action {
    color: lighten($green, 45%);

    > a {
      display: inline-block;
      @include transition(all 0.2s linear);
    }

    > a:hover {
      color: $white;
    }

  } // &.action

  &.animated {

    > a [data-icon] {
      @include transition(all 0.2s linear);
      @include transform-origin(center center);
      @include transform(rotateY(0deg));
    }

    > a:hover [data-icon] {
      @include transform(rotateY(180deg));
    }

  } // &.animated

} // .m-icon
