/*
 * Icon
 */
.m-icon {
  display: inline-block;
  color: lighten($green, 45);
  text-align: center;

  [data-icon] {
    font-size: 4em;
  }

  .icon--label {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.active {
    color: $white;
  }

  &.subtle {
    color: $white;
    color: lighten($green, 15);
  }

  &.action {

    > a {
      display: inline-block;
      @include transition(all 0.15s linear);
    }

    > a:hover {
      color: $white;
    }

  } // &.action

  &.animated {

    > a [data-icon] {
      @include transition(all 0.15s linear);
      @include transform-origin(center center);
      @include transform(rotateY(0deg));
    }

    > a:hover [data-icon] {
      @include transform(rotateY(180deg));
    }

  } // &.animated

} // .m-icon
