//- Donate
+template('donate.html')
  .s-donate.m-section
    h1 Donate

    .l-form
      form#donate-form.m-form(ng:submit="submit()", name="form", novalidate)
        div(ng:hide="complete")
          p &ldquo;A Dalit child that is educated is a Dalit child who has been rescued from human trafficking&rdquo;
          p Help support the Not Today Coalition today by donating below.  Your donations will help build schools and build hope.
          .m-input-group
            input.large(type="text", name="amount", ng:model="donate.amount", ng:keydown="clearErrors()", ng:change="clearErrors()", required, placeholder="Amount")
        .form-error(ng:if="(form.email.$error || responseError) && attempted")
          //- div(ng:if="form.email.$error.email") Invalid email address. Please double-check your entry and try again.
          //- div(ng:if="form.email.$error.required") Email address is required.
          div(ng:if="responseError") {{ responseError }}
        .form-success(ng:if="complete") Thank you for your support of the Not Today Coalition. Together we are building hope.
        .form-suggestion(mailcheck="donate.amount", ng:if="donate.amount", ng:hide="complete")
        button.btn-light.large.fill(type="submit", ng:disabled="processing", ng:hide="complete") Donate

    .section--footer
      p: a(ng-href='#{{route.home}}') &larr; return home
