//- Share
+template('share.html')
  .s-share.m-section
    h1 Share
    ul.share-icons
      li.m-icon
        a(href="#")
          +icon("000")
      li.m-icon
        a(href="#")
          +icon("001")
      li.m-icon
        a(href="#")
          +icon("002")
