.s-intro {
  margin-top: 2em;

  .s-intro--logo {
    width: 8em;
    margin: 0 auto 2em;

    img {
      width: 100%;
    }

  } // .intro-logo

  @include media(min-height 450px) {
    margin-top: 4em;
  }

  @include media(min-height 500px) {
    margin-top: 5em;
  }

  @include media-ie(min-height 550px) {
    margin-top: 6em;
  }

  @include media(min-height 600px) {
    margin-top: 7em;
  }

} // .s-intro
