.s-share {
  margin: 0 auto;
  padding: 4em 0;

  .share-icons {
    @include unstyled-list;
    margin: 2em auto;
    text-align: center;

    li {
      margin: 0 0.5em;
    }

  } // .intro-nav

}
