doctype 5
<!--[if lt IE 9]> <html lang="en" xmlns:ng="http://angularjs.org" ng-app="ntc" id="ng-app" class="ie8 old-ie"> <![endif]-->
<!--[if IE 9]>    <html lang="en" xmlns:ng="http://angularjs.org" ng-app="ntc" id="ng-app" class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
html(lang="en", ng-app="ntc")
  <!--<![endif]-->
  //
    *
    *
    *
    *          ///   ///    ..oOOOo..
    *         ///   ///  .:OOOOOOOOOOO:.
    *        ///   ///  .OOOOOOOOOOOOOOO.
    *       ///   ///   OOOOOOOOOOOOOOOOO
    *      ///   ///    OOOOOOOOOOOOOOOOO
    *     ///   ///     OOOOOOOOOOOOOOOOO
    *    ///   ///      `OOOOOOOOOOOOOOO'
    *   ///   ///        `:OOOOOOOOOOO:'
    *  ///   ///            ''*OOO*''
    *
    *  Designed & Developed by LaCroix Design Co.
    *    http://lacroixdesign.net
    *
    *
    *

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    base(href='/')

    title= pageTitle(title, "Not Today Coalition")
    meta(name="description", content="TODO: ADD DESCRIPTION")
    meta(name="author", content="Michael LaCroix, James LaCroix")

    //- fav and touch icons (reside in the /public folder)
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/apple-touch-icon-57x57-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/apple-touch-icon-144x144-precomposed.png")
    //- meta(name="msapplication-TileColor", content="#ffffff")
    //- meta(name="msapplication-TileImage", content="/windows-icon.png")

    != assets.tag('/stylesheets/application.css')

    //- Typekit
    script(type="text/javascript", src="//use.typekit.net/nnh2mjv.js")
    script.
      try{Typekit.load();}catch(e){}

    include _analytics
    include _stripe

    != assets.tag('/javascripts/application.js')

  body(ng-controller="MainCtrl")
    include _facebook
    include _mixins
    include ../app/nav.jade
    include ../app/home.jade
    include ../app/signup.jade
    include ../app/donate.jade
    include ../app/share.jade

    //- h3() {{route.currentPath()}}
    header#header(ng-hide='route.is(route.home)')
      div(ng-include="'nav.html'")
    .l-constrained-small(role='main')
      div.m-animate-view(ng-view)
